<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  type="text/css" href="/assets/style.css" rel="stylesheet"/>

    <title>Kinnigoli</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Welcome to Kinnigoli</h1>
    <h1>Extremely original content</h1>
    <p>
      It is the best place on the universe.You won't find a place better than
      Kinnigoli
    </p>
  </body>
</html>
